{% extends "base/base.html" %}
{% block titulo %}
Contacto
{% endblock titulo %}


{% block principal %}

<!-- Contenido Principal -->

<hr>

<!-- Contenido Principal -->
<div class="container">
  <div class="row">
    <div class="col-lg-10 col-md-11 mx-auto">
      <h1 class="section-heading">Contacto</h1>
      <p>
        Si tienes alguna sugerencia o quieres integrarte al proyecto, nuestro correo electrónico es:
        <br>
        <b>cdmxriesgo@gmail.com</b>

        <p>

    </div>
  </div>
</div>

{% endblock principal %}