{% extends "base/base.html" %}

  {% block blockname %}
      Educación
  {% endblock blockname %}
      

  
  {% block principal %}
         
    <!-- Contenido Principal -->

    <hr>

    <!-- Contenido Principal -->
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-11 mx-auto">
          <h1>Educación</h1>

          {% if terminos %}
          {% for termino in terminos %}
            <p>
              <h2>{{termino.subtitulo}} </h2> 
              <br>
              {{termino.parrafo | safe}}
              <br>
              
              {% if termino.imagen  %}
                <center>
                    <img src="{{ termino.imagen.url}}" class="img-fluid" alt="" height="90%" width="90%" >
                    <br>
                    
                    {% if termino.descripcionImagen %}
                      {{termino.descripcionImagen}}
                    {% endif %}
                      
                </center>
              {% endif %}
              <br>
              {% if user.is_authenticated %}
                <form>
                  <button>
                    <a href="{% url 'ed_educacion_edit' pk=termino.pk %}">Editar</a>
                  </button>
                  <button>
                    <a href="{% url 'ed_educacion_delete' pk=termino.pk %}" 
                    onclick="return confirm('¿Estás seguro de querer eliminar {{termino.parrafo}}? ');">Eliminar</a>
                  </button>
                </form>
              {% endif %}
            </p>
          {% endfor %}
        {% endif %}
      
      
      {% if user.is_authenticated %}
      <form action="" method="post" enctype="multipart/form-data"></form>
        <button>
          <a href="{% url 'ed_educacion_post' %}">Agregar parrafo</a>
        </button>
      {% endif %}

            <div class="container">
              <hr>
              <!-- Dependencias -->
              <div class="row project">
                <div class="col-lg-4 col-md-4 offset-lg-1">
                  <img class="img-fluid" src="/static/img/erupcion.jpg" alt="">
                </div>
                  <div class="col-lg-7 col-md-8">
                    <h3><a href="{% url 'ed_erupcion' %}">Erupción volcánica</a></h3>
                    <p>

                    </p>
                  </div>
                </div>
              </div>
  
              <div class="container">
                <hr>
                <!-- Dependencias -->
                <div class="row project">
                  <div class="col-lg-4 col-md-4 offset-lg-1">
                    <img class="img-fluid" src="/static/img/inundaciones.jpg" alt="">
                  </div>
                  <div class="col-lg-7 col-md-8">
                    <h3><a href="{% url 'ed_inundacion' %}">Inundaciones</a></h3>
                    <p>

                    </p>
                  </div>
                </div>
              </div>
  
              <div class="container">
              <hr>
                <!-- Dependencias -->
                <div class="row project">
                  <div class="col-lg-4 col-md-4 offset-lg-1">
                    <img class="img-fluid" src="/static/img/ladera.jpg" alt="">
                  </div>
                  <div class="col-lg-7 col-md-8">
                    <h3><a href="{% url 'ed_ladera' %}">Inestabilidad de ladera</a></h3>
                    <p>

                    </p>
                  </div>
                </div>
              </div>
  
              <div class="container">
                <hr>
                  <!-- Dependencias -->
                  <div class="row project">
                    <div class="col-lg-4 col-md-4 offset-lg-1">
                      <img class="img-fluid" src="/static/img/sismo.png" alt="">
                    </div>
                    <div class="col-lg-7 col-md-8">
                        <h3><a href="{% url 'ed_sismo' %}">Sismo</a></h3>
                      <p>

                      </p>
                    </div>
                  </div>
                </div>

              <div class="container">
                <hr>
                  <!-- Dependencias -->
                  <div class="row project">
                    <div class="col-lg-4 col-md-4 offset-lg-1">
                      <img class="img-fluid" src="/static/img/cometa.jpg" alt="">
                    </div>
                    <div class="col-lg-7 col-md-8">
                      <h3><a href="{% url 'ed_asteroide' %}">Asteroides y cometas</a></h3>
                      <p>

                      </p>
                    </div>
                  </div>
                </div>

        <hr>

        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-18">

              <h2>Glosario</h2>

              {% if glosarios %}
              {% for glosario in glosarios %}
                <p>
                  
                  <b>{{glosario.termino}}: </b> 
                    
                  {{glosario.definicion}}
                  {% if user.is_authenticated %}
                    <form>
                      <button>
                        <a href="{% url 'ed_glosario_edit' pk=glosario.pk %}">Editar</a>
                      </button>
                      <button>
                        <a href="{% url 'ed_glosario_delete' pk=glosario.pk %}" 
                        onclick="return confirm('¿Estás seguro de querer eliminar {{glosario.termino}}? ');">Eliminar</a>
                      </button>
                    </form>
                  {% endif %}
                </p>
              {% endfor %}
              {% endif %}
            
            
            {% if user.is_authenticated %}
              <button>
                <a href="{% url 'ed_glosario_post' %}">Agregar termino</a>
              </button>
            {% endif %}

            <hr>

            <b>Referencias</b>
            <br>
            {% if referencias %}
            {% for referencia in referencias %}
              <p>
                  
                {{referencia.referencia}}
                {% if user.is_authenticated %}
                  <form>
                    <button>
                      <a href="{% url 'ed_referencia_edit' pk=referencia.pk %}">Editar</a>
                    </button>
                    <button>
                      <a href="{% url 'ed_referencia_delete' pk=referencia.pk %}" 
                      onclick="return confirm('¿Estás seguro de querer eliminar {{referencia.referencia}}? ');">Eliminar</a>
                    </button>
                  </form>
                {% endif %}
              </p>
            {% endfor %}
            {% endif %}
          
          
          {% if user.is_authenticated %}
            <button>
              <a href="{% url 'ed_referencia_post' %}">Agregar referencia</a>
            </button>
          {% endif %}

        </div>
      </div>
    </div>


    {% endblock principal %}
