{% extends "base/base.html" %}

{% block titulo %} Riesgo en CDMX {% endblock titulo %}


{% block principal %}
    <!-- Cabecera -->
    <header class="masthead" style="background-image: url('/static/img/popoedu.jpg')">

    <div class="site-heading">
      <h1 style="color:white;" >Hacia una comunidad resiliente... </h1>
      <h2 style="color:white; background:rgba(0, 0, 0, 0.5);" >Programa de educación sobre amenazas naturales en la Ciudad de México</h2>
    </div>
    <a href="#">Inicio de sesións</a>
   </header>

{% endblock principal %}
  
  