{% extends "base/base.html" %}
  
{% block titulo %}
    Nosotros
{% endblock titulo %}
      
{% block principal %}
       
<!-- Cabecera -->
<header class="masthead" style="background-image: url('/static/img/meteorito.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1 style="color:white">¿Quiénes somos?</h1>
          <span class="subheading"></span>
        </div>
      </div>
    </div>
  </div>
</header>

<hr>

  <!-- Contenido Principal -->
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-11 mx-auto">
        <h1 class="section-heading">El equipo</h1>
        <hr>

        <p  >
          Nuestro grupo está formado por estudiantes y profesoras de la licenciatura en Ciencias de la Tierra de la UNAM.
          Las áreas en las que más participamos son: Ciencias de la Tierra Sólida, Ciencias Ambientales y Ciencias Espaciales, siendo estas 
          las orientaciones a las que pertenecen los alumnos de nuestro equipo.

          Como uno de los objetivos principales es la divulgación, estamos abiertos a integrar participantes de 
          diferentes disciplinas, así que si quieres aportar no dudes en contactarnos.
          
        </p>
        <br>

        <hr>

        <h1 class="section-heading">Integrantes</h1>
        <hr>

        <div class="row project">
          <div class="col-lg-3 col-md-4 offset-lg-1">
            <img class="img-fluid" src="/static/img/karina.jpg" alt="" width="100%" height="100%"/>
          </div>
          <div class="col-lg-7 col-md-8">
            <h3>Karina Elizabeth Cervantes de la Cruz</h3>
            <p >
              Doctora en Ciencias (Universidad Nacional Autónoma de México).
              <br>
              Intereses: Geología, astronomía, divulgación científica.
            </p>
          </div>
        </div>
        <hr>

        <div class="row project">
          <div class="col-lg-3 col-md-4 offset-lg-1">
            <img class="img-fluid" src="/static/img/liz.jpeg" alt="" width="100%" height="100%"/>
          </div>
          <div class="col-lg-7 col-md-8">
            <h3>Ana María Lizeth Caballero García</h3>
            <p >
               Doctora en Ciencias (Universidad Nacional Autónoma de México).
              <br>
              Intereses: Geología, análisis de riesgo, divulgación científica.
            </p>
          </div>
        </div>
        <hr>

      <div class="row project">
          <div class="col-lg-3 col-md-4 offset-lg-1">
            <img class="img-fluid" src="/static/img/pam.jpg" alt="" width="100%" height="100%"/>
          </div>
          <div class="col-lg-7 col-md-8">
            <h3>Pamela Itzel Pedroza Rodríguez </h3>
            <p >
              Licenciatura en Ciencias de la Tierra, Ciencias de la Tierra Sólida, Facultad de Ciencias, UNAM.
              <br>
              Intereses: Me gustan las laderas y todo lo que representan. Me encantaría que las personas aprendan y entiendan 
              como funciona el planeta, también que las personas sepan como actuar frente a todas las cosas.

            </p>
          </div>
        </div>
        <hr>

      <div class="row project">
          <div class="col-lg-3 col-md-4 offset-lg-1">
            <img class="img-fluid" src="/static/img/vero.jpg" alt="" width="100%" height="100%"/>
          </div>
          <div class="col-lg-7 col-md-8">
            <h3>Verónica Hernández Álvarez</h3>
            <p >
            Licenciatura en Ciencias de la Tierra, Ciencias de la Tierra Sólida, Facultad de Ciencias, UNAM.
              <br>
              Mis intereses van enfocados en la comunicación del riesgo, principalmente geológico, 
              así como en la elaboración de mapas de peligro, con ayuda de Sistemas de Información Geográfica. 

            </p>
          </div>
        </div>
        <hr>
  
        <div class="row project">
          <div class="col-lg-3 col-md-4 offset-lg-1">
            <img class="img-fluid" src="/static/img/ivan.JPG" alt="" width="100%" height="100%"/>
          </div>
          <div class="col-lg-7 col-md-8">
            <h3>Carlos Iván Pineda Santiago</h3>
            <p >
              Licenciatura en Ciencias de la Tierra, Ciencias Espaciales, Facultad de Ciencias, UNAM. Licenciatura en Ingeniería en Sistemas
              Computacionales, Universidad IEU.
              <br>
              Intereses: Análisis de riesgo, astronomía.
            </p>
          </div>
        </div>
        <hr>
  
        <div class="row project">
          <div class="col-lg-3 col-md-4 offset-lg-1">
            <img class="img-fluid" src="/static/img/fernando.jpeg" alt="" width="100%" height="100%"/>
          </div>
          <div class="col-lg-7 col-md-8">
            <h3>Fernando García Yáñez</h3>
            <p >
              Licenciatura en Ciencias de la Tierra, Ciencias de la Tierra Sólida, Facultad de Ciencias, UNAM.
              <br>
              Intereses: evaluación de riesgos geológico en sísmicidad, geología estructural y sistemas de información geográfica.
            </p>
          </div>
        </div>
        <hr>

      <div class="row project">
          <div class="col-lg-3 col-md-4 offset-lg-1">
            <img class="img-fluid" src="/static/img/echeri.jpg" alt="" width="100%" height="100%"/>
          </div>
          <div class="col-lg-7 col-md-8">
            <h3>Echéri Martínez Cabadilla</h3>
            <p >
              Licenciatura en Ciencias de la Tierra, Ciencias de la Tierra Sólida, Facultad de Ciencias, UNAM.
              <br>
              Intereses: Considero muy importante que se tenga 
              un conocimiento a nivel sociedad sobre las amenazas naturales que nos rodean y como actuar ante una para 
              evitar un desastre. 
            </p>
          </div>
        </div>
        <hr>

      <div class="row project">
          <div class="col-lg-3 col-md-4 offset-lg-1">
            <img class="img-fluid" src="/static/img/alfonso.jpg" alt="" width="100%" height="100%"/>
          </div>
          <div class="col-lg-7 col-md-8">
            <h3>Alfonso Alatorre García</h3>
            <p >
              Licenciatura en Ciencias de la Tierra, Ciencias Ambientales, Facultad de Ciencias, UNAM.
              <br>
              Intereses: Divulgación, diseño gráfico.
            </p>
          </div>
        </div>
        <hr>

        <div class="row project">
            <div class="col-lg-3 col-md-4 offset-lg-1">
                <img class="img-fluid" src="/static/img/elisa.jpg" alt=""width="100%" height="100%"/>
            </div>
            <div class="col-lg-7 col-md-8">
                <h3>Elisa Solares Moreno</h3>
                <p >
                Licenciatura en Ciencias de la Tierra, Ciencias Ambientales, Facultad de Ciencias, UNAM.
                <br>
                Intereses: Me gusta la fotografía, leer muchos libros, moverme en bici y practicar yoga.
                Me gusta la toxicología ambiental y la divulgación científica.
            </div>
        </div>
        <hr>

        <div class="row project">
            <div class="col-lg-3 col-md-4 offset-lg-1">
                <img class="img-fluid" src="/static/img/javs.jpg" alt="" width="100%" height="100%"/>
            </div>
            <div class="col-lg-7 col-md-8">
                <h3>Javier Morales Riech</h3>
                <p >
                Licenciatura en Ciencias de la Tierra, Ciencias Ambientales, Facultad de Ciencias, UNAM.
                <br>
                Intereses: Preocupado por los problemas citadinos, utilizando materiales audiovisuales 
                como herramienta informativa. Yonki de la bicicleta y compañero de un perrito. 
            </div>
        </div>

        </div>
      </div>
    </div>
{% endblock principal %}
