{% extends "base/base.html" %}

{% block titulo %} Agregar termino. {% endblock titulo %}


{% block principal %}

    <br>
    <br>
    <!-- Contenido Principal -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-18">
          <h2 class="section-heading">Agregar termino</h2>
                <form method="POST" class="post-form">{% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="save btn btn-default">Guardar</button>
                </form>
        </div>
      </div>
    </div>

{% endblock principal %}
